/* reset */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

header  {
    width: 100%;
    height: 70px;
    background-color: rgb(237, 114, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

nav {
    width: 80%;
    display: flex;
}

.links  {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo   {
    width: 60%;
}

.icons  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: 20%;
}

.links ul   {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.links li   {
    display: inline;
}

.links a    {
    text-decoration: none;
    color: white;
    margin: 8px;
}

.logo   {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img   {
    height: 50px;
}


/* main */

main    {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}

.row    {
    width: 80%;
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.column {
    width: calc(100% / 3);
}

.column img {
    width: 100%;
}

.brand  {
    color: grey;
}

.name_product   {
    font-weight: bold;
}

.first  {
    color: red;
    margin-right: 5px;
}

.second {
    text-decoration:line-through;
}

.label  {
    display: flex;
    gap: 5px;
    position: absolute;
    left: 0px;
    bottom: 30px;
}

.img    {
    position: relative;
}

.discount   {
    background-color: red;
    color: white;
    padding: 5px;
}

.sustanabilty   {
    background-color: green;
    color: white;
    padding: 5px;
}

.heart  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 10px;
}


/* footer */

footer  {
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.infos a  {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}


h3   {
    margin-bottom: 10px;
}

.icons_social i  {
    margin-right: 5px;
}


/* hover option */

.secondary  {
    display: none;
}

.img:hover  .secondary  {
    display: flex;
}

.img:hover .primary {
    display: none;
}

.red_heart  {
    display: none;
}

.heart:hover  .red_heart  {
    display: flex;
}

.heart:hover  .black_heart{
    display: none;
}
